.settings-shell {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  width: 80%;
  height: 100%;
  margin-top: 2%;
  margin-left: 10%;
  /* margin-right: 20%; */
}
